
html, body {
  box-sizing: border-box;
  background-color: #050E2D;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  height: 100%;
  width: 100%;
}

img,
picture {
    max-width: 100%;
    display: block;
}

.info {
    background-color: lightsteelblue;
}
.donkerblauw {background-color:#050E2D ;}

.darkslategray {background-color:#050E2D ;}

span {
  color:red
}


.sidebar {
  width: 200px;
  background-color: #050E2D;
  padding: 0px;
  height: 70vh;
  
}

.content {
  flex: 1;
  padding: 5px;
  background-color: #ffffff;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.thumbnails {
  display: flex;
}

.main {flex: 1;
margin-bottom: 10px;
}

.container2 {
      display: flex;          /* Enables flexbox */
      justify-content: space-between; /* Pushes items apart */
      align-items: center;    /* Vertically aligns items */
    }

    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height:5%;
    width: 100%;
    background: #050E2D;
    color: white;
    text-align: center;
    padding:1px ;
  }